@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('/assets/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
  url('/assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AvenirNextCyr-Regular', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  
  z-index: 3;
  margin: 0px;
  padding: 0px;
}

/* ! Стили для видео в шапке на главной странице */
.video {
  width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;
}
.video-bg {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background: url("images/bg.jpeg") center no-repeat;
    background-size: cover;

    box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
}


/* ! Стили для шапки сайта и меню */
header {
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.info {
  /* background-color: rgba(18, 18, 18, 0.7); */
  background-color: rgba(36, 190, 83, 0.7); /* Цвет фона */
  display: block;
  margin-top: 2%;
  text-align: center;
  border: rgba(18, 18, 18, 0.7);
  border-radius: 17px;
  z-index: 15;
}
nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 1px;
  margin-bottom: 1px;
  z-index: 10;
}
nav .menu ul {
  margin: 0;
}
nav .menu li {
  list-style: none;
  margin-right: 25px;
}

/* ! Добавление эффекта подчеркивания для элементов меню при наведении мышки */
.menu-item {
  position: relative;
  text-decoration: none;
}
.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.menu-item:hover::after {
  transform: scaleX(1);
}

/* ! Стили для всех ссылок на сайте по умолчанию */
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}
a:hover {
  color: aqua;
}


/* ! Сделать фон для сайта из изображения */
body {
  background-image: url('/images/bg3.jpeg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}
.white-bg {
  background-image: none;
  background-color: #fff;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-info {
  padding: 25px;
  border-radius: 25px;
  background-color: aliceblue;
  box-shadow: 2px 2px 10px 0px rgba(18, 18, 18, 0.3);
  font-size: 28px;
}
hr {
  margin-top: 25px;
  width: 50%;
}



/* ! Стили для кнопки "прокрутить в начало сайта" */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #d1e233;
  border-radius: 50%;
  display: none;
  z-index: 10;
}
#scroll-to-top.show {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
}
#scroll-to-top:hover {
  background-color: #4a8acebb;
  cursor: pointer;
}

/* ! Стили для выпадающего дменю */
.submenu {
  position: absolute;
  background-color: #fff;
  display: none;
  padding: 0;
  top: 35px;
  left: -60px;
  z-index: 15;
  border-radius: 17px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.submenu li {
  padding: 5px;
}
.submenu li a {
  color: dimgrey;
}
.menu li:hover .submenu {
  display: block;
}
.submenu li a:hover {
  color: black;
}

/* ! Стили для подвала сайта */
.footer {
  display: flex;
  justify-content:space-between;
  margin-right: 7% ;
  margin-left: 3%;
  color: #fff;
  font-size: 120%;

  max-width: 800px;
  margin: 0 auto;
}
#about {
  position: relative;
  top: -115px;
  z-index: 10;
}

.info-mobile {
  display: none;
}
/* ! Адаптив */
@media (max-width: 768px) {
  .card {
    width: 40%;
    margin-bottom: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  header {
    height: 37vh;
  }
  .video {
    display: none;
  }
  .info-mobile img {
    width: 60px;
  }
  .info {
    display: none;
  }
  .info-mobile {
    padding-top: 100px;
    display: block;
    background-color: rgba(18, 18, 18, 0.7);
    text-align: center;
    border: rgba(18, 18, 18, 0.7);
    border-radius: 17px;
    z-index: 5;
    height: 170px;
  }

  .info-mobile a {
    font-size: 20px;
  }
  #about {
    position: relative;
    top: -35px;
    z-index: 10;
  }
}